@model MyDrive.ViewModels.DisplayUsersViewModel
@{
    ViewBag.Title = "DisplayUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@MyDrive.Resources.Language.Users</h2>

<table id="myusersWithoutCompanies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Delete User</th>
            <th>Assign To Company</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UsersWithoutCompanies)
        {
            if (item.Email != "admin@mydrive.com")
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td><span>0</span>@Html.DisplayFor(modelItem => item.PhoneNumberInt)</td>
                    <td><a href="#">Delete User</a></td>
                    <td><a href="/Company/Index" class="btn btn-danger">Assign To Company</a></td>
                </tr>
            }
        }
    </tbody>
</table>

<table id="myusers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Delete User</th>
            <th>Companies assigned to</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UsersWithCompanies)
        {
            if (item.Email != "admin@mydrive.com")
            {
                var records = Model.RecordsOfUsersInCompanies;
                var companiesTable = Model.Companies;
                string[] companies = new string[records.Count];
                string CompanyIds = "";
                for (int i =0; i<records.Count; i++)
                {
                    if(records[i].UserId == item.Id)
                    {
                        foreach(var CompanyTable in companiesTable)
                        {
                            if(records[i].CompanyId == CompanyTable.Id)
                            {
                                CompanyIds += "," + CompanyTable.Name;
                            }
                        }
                    }
                }
                CompanyIds = CompanyIds.Substring(1);
                <tr>
                    <td>@item.FirstName</td>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td><span>0</span>@Html.DisplayFor(modelItem => item.PhoneNumberInt)</td>
                    <td><a href="#">Delete User</a></td>
                    <td>@CompanyIds</td>
                </tr>
            }
        }
    </tbody>
</table>
    

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#myusers").DataTable();
            $("#myusersWithoutCompanies").dataTable();
        })
    </script>
}