@model MyDrive.ViewModels.DisplayUsersViewModel
@{
    ViewBag.Title = "DisplayUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@MyDrive.Resources.Language.Users</h2>

<style>
    .MyButtons {
        margin-bottom: 20px;
    }
</style>

<div class="MyButtons">
    @if (Model.UserPermissions.Contains("Create User"))
    {
        @Html.ActionLink("Create User", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })

    }
</div>

<h2>Users Without Companies</h2>
<table id="myusersWithoutCompanies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            @if (Model.UserPermissions.Contains("Delete User"))
            {
                <th>Delete User</th>

            }
            @if (Model.UserPermissions.Contains("Assign Users To Companies"))
            {
                <th>Assign To Company</th>

            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UsersWithoutCompanies)
        {
            if (item.Email != "admin@mydrive.com")
            {
        <tr>
            <td>@item.FirstName</td>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td><span>0</span>@Html.DisplayFor(modelItem => item.PhoneNumberInt)</td>
            @if (Model.UserPermissions.Contains("Delete User"))
            {
                <td><a href="#" data-user-id="@item.Id" class="myDelete">Delete User</a></td>

            }
            @if (Model.UserPermissions.Contains("Assign Users To Companies"))
            {
                <td><a href="/Company/Index" class="btn btn-danger">Assign To Company</a></td>

            }
        </tr>
            }
        }
    </tbody>
</table>

<h2>Users In Companies</h2>
<table id="myusers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            @if (Model.UserPermissions.Contains("Delete User"))
            {
                <th>Delete User</th>

            }
            <th>Companies assigned to</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UsersWithCompanies)
        {
            if (item.Email != "admin@mydrive.com")
            {
                var records = Model.RecordsOfUsersInCompanies;
                var companiesTable = Model.Companies;
                string[] companies = new string[records.Count];
                string CompanyIds = "";
                for (int i = 0; i < records.Count; i++)
                {
                    if (records[i].UserId == item.Id)
                    {
                        foreach (var CompanyTable in companiesTable)
                        {
                            if (records[i].CompanyId == CompanyTable.Id)
                            {
                                CompanyIds += "," + CompanyTable.Name;
                            }
                        }
                    }
                }
                CompanyIds = CompanyIds.Substring(1);
        <tr>
            <td>@item.FirstName</td>
            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td><span>0</span>@Html.DisplayFor(modelItem => item.PhoneNumberInt)</td>
            @if (Model.UserPermissions.Contains("Delete User"))
            {
                <td><a href="#" data-user-id="@item.Id" class="myDelete">Delete User</a></td>

            }
            <td>@CompanyIds</td>
        </tr>
            }
        }
    </tbody>
</table>

<div class="modal fade" id="ConfirmPasswordModalForUserDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Confirm Password</h2>
            </div>
            <div class="modal-body">
                <form id="ConfirmPasswordFormForUserDelete">
                    @Html.LabelFor(m => m.Password)
                    @Html.Password("password", "", new { id = "passwordForFolderDelete1", Textmode = "Password" })
                    @Html.ValidationMessageFor(m => m.Password)
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <a href="#" id="btnSaveForUserDelete" class="btn btn-primary">Confirm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<input id="testPurpose" type="hidden" />
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#myusers").DataTable();
            $("#myusersWithoutCompanies").dataTable();

            $("#myusers").on("click", ".myDelete", function () {
                var button = $(this);
                $("#ConfirmPasswordModalForUserDelete").modal('show');
                $("#testPurpose").val(button.attr("data-user-id"));
            });

            $("#myusersWithoutCompanies").on("click", ".myDelete", function () {
                var button = $(this);
                $("#ConfirmPasswordModalForUserDelete").modal('show');
                $("#testPurpose").val(button.attr("data-user-id"));
            });

            $("#btnSaveForUserDelete").click(function () {
                var ConfirmPasswordForm = $("#ConfirmPasswordFormForUserDelete").serialize();
                var Myid = $("#testPurpose").val();

                $.ajax({
                    type: "POST",
                    url: "/DriveUsers/ConfirmPasswordForUserDelete",
                    data: (ConfirmPasswordForm ? ConfirmPasswordForm + "&" : "") + "id=" + Myid,
                    success: function (res) {
                        if (res) {
                            console.log("success")
                            window.location.href = "/DriveUsers/DisplayUsers"
                        }
                        else {
                            confirm("Please Enter A Valid Password")
                        }
                    }
                })
            });
        })
    </script>
}