@model IEnumerable<MyDrive.Models.DriveUsers>
@{
    ViewBag.Title = "DisplayApiUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DisplayApiUsers</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.email)</th>
        <th>@Html.DisplayNameFor(model => model.phone)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.email)</td>
            <td>@Html.DisplayFor(modelItem => item.phone)</td>
        </tr>
    }
    <tr><td>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</td></tr>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".table table-bordered table-hover").DataTable();
        })
    </script>
}
