@model MyDrive.ViewModels.FoldersandFilesViewModel
@{
    ViewBag.Title = "GetFolders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .myCustomContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .CustomFolder {
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

        .CustomFolder button {
            display: flex;
        }

        .CustomFolder span {
            display: block;
            padding-left: 30px;
            width: 150px;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
        }

        .CustomFolder .myFolderIcon {
            font-size: 100px;
            color: #CC5500;
        }

    .myCustomContainerForFiles {
        display: flex;
        flex-wrap: wrap;
    }

    .CustomFile {
        display: flex;
        flex-direction: column;
        margin: 40px;
    }

        .CustomFile button {
            display: flex;
        }

        .CustomFile span {
            display: block;
            padding-left: 0;
            width: 150px;
            font-family: Arial, Helvetica, sans-serif;
            color: black;
        }

        .CustomFile .myFolderIcon {
            font-size: 100px;
            color: #CC5500;
        }

    .mycontainer {
        display: flex;
    }

        .mycontainer .Second-button {
            margin-left: 15px;
        }

        .mycontainer .Third-button {
            margin-left: 15px;
        }

        .mycontainer .Fourth-button {
            margin-left: 15px;
        }
</style>

<!--<h2>Folders</h2>-->

<div class="mycontainer">
    @if ("hi" == "hi")
    {
        string path = HttpContext.Current.Request.Url.AbsolutePath;
        string myPath = path.Split('/').Last();
        <p class="Third-button">
            <a href="~/Folder/BackButton/@myPath" class="btn-link"><i class="fas fa-long-arrow-alt-left"></i></a>
        </p>
    }

    <p class="Fourth-button">
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#createFolderModal">Create Folder</a>
    </p>

    <p class="Second-button">
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#uploadFileModal">Upload File</a>
    </p>
    @if ("hi" == "hi")
    {
        string path = HttpContext.Current.Request.Url.AbsolutePath;
        string myPath = path.Split('/').Last();
        <p class="Third-button">
            <a href="~/Folder/DeleteMultiple/@myPath" class="btn btn-primary">Delete Multiple</a>
        </p>
    }

</div>
@using (Html.BeginForm("UploadFileWithinPath", "Folder", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="uploadFileModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Upload File</h2>
                </div>
                <div class="modal-body">
                    <form id="uploadFileModal">
                        <label>Choose File:</label>
                        <input type="file" id="userFile" name="userFile" /><br />
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <input type="submit" value="Upload" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("CreateFolderWithinPath", "Folder"))
{
    <div class="modal fade" id="createFolderModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Create Folder</h2>
                </div>
                <div class="modal-body">
                    <form id="createFolderModal">
                        <label>Folder Name</label>
                        @Html.TextBox("Name")
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="myCustomContainer">
    @foreach (var folderName in Model.Folders)
    {


        <div class="CustomFolder">
            @if (User.IsInRole("CanManageUsers"))
            {
                <a href="~/Folder/RenameFolder/@folderName.Path" class="btn-link"><i class="fas fa-pen"></i></a>
            }
            @if (User.IsInRole("CanManageUsers") || User.IsInRole("DeleteFolders"))
            {
                <button class="btn-link js-delete" data-folder-path="@folderName.Path"><i class="fas fa-backspace"></i></button>
            }
            <a href="/Folder/GetFolderFromPath/@folderName.Path"> <i class="fas fa-folder myFolderIcon"></i><span>@folderName.Name</span></a>
        </div>
    }
</div>

<div class="myCustomContainerForFiles">
    @foreach (var fileName in Model.Files)
    {
        string filePathNormalized = @fileName.Path.Replace(@"\", ";");
        string finalPathNormalized = filePathNormalized.Replace(".", "'");


        <div class="CustomFile">
            @if (User.IsInRole("CanManageUsers"))
            {
                <a href="~/Folder/RenameFile/@finalPathNormalized" class="btn-link"><i class="fas fa-pen"></i></a>
            }
            @if (User.IsInRole("CanManageUsers") || User.IsInRole("DeleteFolders"))
            {
                <button class="btn-link js-file-delete" data-file-path="@finalPathNormalized"><i class="fas fa-backspace"></i></button>
            }
            <a href="~/files/@fileName.Path" target="_blank"> <i class="fas fa-file myFolderIcon"></i><span>@fileName.Name</span></a>
        </div>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".myCustomContainer").on("click", ".js-delete", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this folder?")) {
                    $.ajax({
                        url: "/Folder/DeleteFolder/" + button.attr("data-folder-path"),
                        success: function () {
                            console.log("success");
                            button.parent("div").remove();
                        }
                    });
                }
            });

            $(".myCustomContainerForFiles").on("click", ".js-file-delete", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this file?")) {
                    $.ajax({
                        url: "/Folder/DeleteFile/" + button.attr("data-file-path"),
                        success: function () {
                            console.log("success");
                            button.parent("div").remove();
                        }
                    });
                }
            });
        });
    </script>
}
