<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    .Mywrapper {
        display: flex;
        position: relative;
    }

    .Mywrapper .Mysidebar {
        position: fixed;
        width: 200px;
        height: 100%;
        background: #FFA500;
        padding: 30px 0;
    }

    .Mywrapper .Mysidebar h2 {
        color: #000000;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }

    .Mywrapper .Mysidebar ul li {
        padding: 15px 15px;
        border-bottom: 1px solidrgba(0,0,0,0.05);
        border-top: 1px solidrgba(255,255,255,0.05);
    }

    .Mywrapper .Mysidebar ul li:hover {
        background: #CC5500;
    }


</style>
    
<div class="navbar navbar-inverse navbar-fixed-top">
    @Html.Partial("_LoginPartial")
</div>

<div class="Mywrapper">
        <div class="Mysidebar">
            <h2>@MyDrive.Resources.Language.SIDEBAR</h2>
          <!--  @Html.Partial("_LoginPartial")-->
    @Html.Action("ReturnNavBar", "Administration")    
    <!--<ul>
            <li>@Html.ActionLink(MyDrive.Resources.Language.Drive_Users, "DisplayUsers", "DriveUsers", null,new {Style = "color:White" })</li>
            <li>@Html.ActionLink(MyDrive.Resources.Language.View_All_Uploaded_Files, "ShowFilesInTable", "Folder", null, new { Style = "color:White" })</li>
            <li>@Html.ActionLink("Driver", "GetFolders1", "Folder", null, new { Style = "color:White" })</li>
            <li>@Html.ActionLink("List Roles", "ListRoles", "Administration", null, new { Style = "color:White" })</li>
            <li>@Html.ActionLink("English", "Index", "Language", new { language = "en" }, new { Style = "color:White" })</li>
            <li>@Html.ActionLink("عربي", "Index", "Language", new { language = "ar" }, new { Style = "color:White" })</li>
            <li>@Html.ActionLink("Filters", "FilterOptions", "Filter", null, new { Style = "color:White" })</li>
            <li>@Html.ActionLink("Manage Companies", "Index", "Company", null, new { Style = "color:White" })</li>
            <li>@Html.ActionLink("Change Password", "ChangePassword", "Folder", null, new { Style = "color:White" })</li>
        </ul>-->

        </div>
</div>

    <!--
    <div class="folder1">
        <p class="folder1Name"><a href="testing.html">File 1</a></p>
    </div>
    -->