@model MyDrive.Models.Folder
@{
    ViewBag.Title = "GetFolders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .FolderClass ul {
        list-style: none;
    }

        .FolderClass ul .myFolders {
            display: block;
            float: left;
            margin-right: 1%;
            width: 24%
        }

    .FolderClass i {
        font-size: 100px;
        color: #CC5500;
    }

    .FolderClass ul .myFolders a span {
        color: black;
        margin-right: 120px;
        font-size: 7px;
        text-align: center;
        padding-top: 1px;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .FileClass ul {
        list-style: none;
    }

        .FileClass ul .myFiles {
            display: block;
            float: left;
            margin-right: 1%;
            width: 24%;
        }

    .FileClass i {
        font-size: 100px;
        color: #CC5500;
    }

    .FileClass ul .myFiles a span {
        color: black;
        margin-right: 120px;
        font-size: 7px;
        text-align: center;
        padding-top: 1px;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .btn-link i 
    {
        font-size: 10px;
        color: #89CFF0;
        display: block;
        padding-bottom: 1px;
        margin-right: 120px;
    }
</style>

<!--<h2>Folders</h2>-->

<p>
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#createFolderModal">Create Folder</a>
</p>

<p>
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#uploadFileModal">Upload File</a>
</p>
@using (Html.BeginForm("UploadFilesInPath", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="uploadFileModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Upload File</h2>
                </div>
                <div class="modal-body">
                    <form id="uploadFileModal">
                        <label>Choose File:</label>
                        <input type="file" id="userFile" name="userFile" /><br />
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <input type="submit" value="Upload" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

    @using (Html.BeginForm("CreateFolderInPath", "Files"))
    {
        <div class="modal fade" id="createFolderModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Create Folder</h2>
                    </div>
                    <div class="modal-body">
                        <form id="createFolderModal">
                            <label>Folder Name</label>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group">
                            <!-- <a href="~/Files/CreateFolderInPath/" class="btn btn-primary">Create Folder</a> -->
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="FolderClass">
        <ul>

            @foreach (var folderName in ViewBag.directories)
            {

            <li class="myFolders">
                <button class="btn-link js-delete" data-folder-name="@folderName"><i class="fas fa-backspace"></i></button>
                <a href="/Files/GetFoldersByPath/@folderName"> <i class="fas fa-folder"></i><span>@folderName</span></a>
            </li>
            }
        </ul>
    </div>

    <div class="FileClass">
        <ul>

            @foreach (var fileName in ViewBag.files)
            {
                var fileNameWithoutExtention = System.IO.Path.GetFileNameWithoutExtension(fileName);
            <li class="myFiles">
                
                <button class="btn-link js-file-delete" data-file-name="@fileNameWithoutExtention"><i class="fas fa-backspace"></i></button>
                <a href="~/Files/@ViewBag.pathAfterFile/@fileName" target="_blank"> <i class="fas fa-file"></i><span>@fileName</span></a>
            </li>
            }
        </ul>
    </div>
<p>@ViewBag.absouloutePath</p>
@section scripts
{
     <script>
         $(document).ready(function () {
             $(".FolderClass").on("click", ".js-delete", function () {
                 var button = $(this);
                 if (confirm("Are you sure you want to delete this folder?")) {
                     $.ajax({
                         url: "/Files/DeleteFolder/" + button.attr("data-folder-name"),
                         success: function () {
                             console.log("success");
                             button.parent("li").remove();
                         }
                     });
                 }
             });

             $(".FileClass").on("click", ".js-file-delete", function () {
                 var button = $(this);
                 if (confirm("Are you sure you want to delete this file?")) {
                     $.ajax({
                         url: "/Files/DeleteFile/" + button.attr("data-file-name"),
                         success: function () {
                             console.log("success");
                             button.parent("li").remove();
                         }
                     });
                 }
             });
         });
         
     </script>
}